{% extends 'base.html.twig' %}

{% block title %}Hello RandomNumber!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello voici un nombre random {{ number }}! </h1>
    <p>Le nombre est généré aléatoirement à chaque chargement de page! Youhou!</p>
</div>
{% endblock %}
